.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.signup-wrapper {
  margin-top: 1rem;
  display: flex;
}

.signup-link {
  flex: 1;
  cursor: pointer;
  background-color: #04aa6d;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
}

.modal {
  display: none;
}
