.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid #555;
  outline: none;
  font-size: 2rem;
}

.btn {
  background-color: #008cba;
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn:hover {
  border: 1px solid #008cba;
  color: #008cba;
  background-color: #fff;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.signup-link {
  text-decoration: none;
  color: #008cba;
  font-size: 1.5rem;
}

.error-message {
  color: #f44336;
  font-size: 1.6rem;
  text-wrap: wrap;
}
