.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.form-control {
  padding: 1rem;
  border: 1px solid #333;
  outline: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: #333;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.1s;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
