.navbar {
  width: 30rem;
  height: 100vh;
  border-right: 1px solid #ccc;
}

.item {
  padding-inline-start: 0;
  list-style: none;
  width: inherit;
  padding: 0 2rem;
}

.list-item {
  margin-bottom: 1rem;
  padding: 1rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #555;
  font-weight: bold;
  padding: 1rem;
}

.nav-link:active {
  color: #fff;
  background-color: greenyellow;
}
